@import 'mediawiki.skin.variables.less';

.ext-createwiki-tabs {
	.ext-createwiki-fieldset-wrapper {
		padding-right: 0;
		padding-left: 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.ext-createwiki-tabs-wrapper.oo-ui-panelLayout-framed,
.ext-createwiki-tabs > .oo-ui-menuLayout-content > .oo-ui-indexLayout-stackLayout > .oo-ui-tabPanelLayout {
	/* Decrease contrast of `border` slightly as padding/border combination is sufficient
	 * accessibility wise and focus of content is more important here. */
	border-color: @border-color-subtle;
}

/* JavaScript disabled */
.client-nojs {
	// Disable .oo-ui-panelLayout-framed on outer wrapper
	.ext-createwiki-tabs-wrapper {
		border-width: 0;
		border-radius: 0;
	}

	.ext-createwiki-tabs {
		// Hide the tab menu when JS is disabled as we can't use this feature
		> .oo-ui-menuLayout-menu {
			display: none;
		}

		.ext-createwiki-section-fieldset {
			> .oo-ui-fieldsetLayout-header {
				margin-bottom: @spacing-150;
			}

			// Remove spacing between legend and underline
			&.oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
				margin-bottom: 0;
			}
		}

		.oo-ui-tabPanelLayout + .oo-ui-tabPanelLayout {
			margin-top: @spacing-100;
		}
	}
}

/* JavaScript enabled */
.client-js .ext-createwiki-tabs {
	.oo-ui-tabPanelLayout {
		// Panels don't need borders as the IndexLayout is inside a framed wrapper.
		border-width: 0;

		// Hide section legend, only used in nojs mode
		> fieldset > legend {
			display: none;
		}
	}

	// Hide all but the first panel before infusion
	&:not( .ext-createwiki-tabs-infused ) {
		.oo-ui-tabPanelLayout:not( :first-child ) {
			display: none;
		}
	}
}

.mw-special-RequestWikiQueue {
	#mw-section-details,
	#mw-section-comments,
	#mw-section-history {
		.mw-htmlform-field-HTMLInfoField {
			span label dl {
				margin-bottom: 0;
			}

			span > label {
				font-weight: @font-weight-bold;
			}

			// HACK: Pretend to be a read-only OOUI TextInputWidget
			div > label {
				display: block;
				max-width: 50em;
				padding: @spacing-30 @spacing-50;
				border: @border-base;
				border-radius: @border-radius-base;
				background-color: @background-color-interactive-subtle;
				overflow-y: auto;
			}
		}
	}
}
