/* Fix width for the 'reason' selectorother field */
#mw-input-wpreason {
	display: inline-flex;
	width: 100%;
	max-width: 50em;

	.oo-ui-dropdownInputWidget {
		max-width: initial;
	}

	.oo-ui-inputWidget {
		margin-right: 0;
	}

	.oo-ui-textInputWidget {
		margin-left: 0.5em;
	}
}

#createwiki {
	filter: brightness( 1 );
}

.createwiki-tabs {
	.createwiki-fieldset-wrapper {
		padding-right: 0;
		padding-left: 0;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.createwiki-tabs-wrapper.oo-ui-panelLayout-framed,
.createwiki-tabs > .oo-ui-menuLayout-content > .oo-ui-indexLayout-stackLayout > .oo-ui-tabPanelLayout {
	/* Decrease contrast of `border` slightly as padding/border combination is sufficient
	 * accessibility wise and focus of content is more important here. */
	border-color: #c8ccd1;
}

/* JavaScript disabled */
.client-nojs {
	// Disable .oo-ui-panelLayout-framed on outer wrapper
	.createwiki-tabs-wrapper {
		border-width: 0;
		border-radius: 0;
	}

	.createwiki-tabs {
		// Hide the tab menu when JS is disabled as we can't use this feature
		> .oo-ui-menuLayout-menu {
			display: none;
		}

		.createwiki-section-fieldset {
			// <legend> is hard to style, so apply border to top of group
			> .oo-ui-fieldsetLayout-group {
				padding-top: 1.5em;
				border-top: 1px solid #c8ccd1;
			}

			// Remove spacing between legend and underline
			&.oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
				margin-bottom: 0;
			}
		}

		// Spacing between sections
		> .oo-ui-menuLayout-content > .oo-ui-indexLayout-stackLayout > .oo-ui-tabPanelLayout:not( :last-child ) {
			margin-bottom: 1em;
		}
	}
}

/* JavaScript enabled */
.client-js .createwiki-tabs {
	.oo-ui-tabPanelLayout {
		// Panels don't need borders as the IndexLayout is inside a framed wrapper.
		border: 0;

		// Hide section legend, only used in nojs mode
		> fieldset > legend {
			display: none;
		}
	}

	// Hide all but the first panel before infusion
	&:not( .createwiki-tabs-infused ) {
		.oo-ui-tabPanelLayout:not( :first-child ) {
			display: none;
		}
	}
}

#mw-htmlform-info {
	> .oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
		display: inline-block;
		width: 20%;
		padding: 0;
		vertical-align: middle;
	}

	> .oo-ui-fieldLayout-align-top .oo-ui-fieldLayout-help {
		margin-right: 0;
	}

	> .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field {
		display: inline-block;
		width: 80%;
		vertical-align: middle;
	}
}

/* Compact number inputs */
.mw-htmlform-field-HTMLFloatField,
.mw-htmlform-field-HTMLIntField {
	.oo-ui-inputWidget {
		max-width: 10em;
	}
}

.mw-special-RequestWikiQueue {
	#mw-section-details,
	#mw-section-comments,
	#mw-section-history {
		.mw-htmlform-field-HTMLInfoField {
			span label dl {
				margin-bottom: 0;
			}

			span > label {
				font-weight: bold;
			}

			div > label {
				display: block;
				width: 100%;
				max-height: 15em;
				box-sizing: border-box;
				padding: 8px;
				border: 1.5px solid #ccc;
				border-radius: 4px;
				background-color: #f5f5f5;
				color: #333;
				font-family: 'Arial', sans-serif;
				line-height: 1.5em;
				overflow-y: auto;
			}
		}
	}
}
