<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	cacheTokens="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	strict="true"
	verbose="true">
	<testsuites>
		<testsuite name="CreateWiki Test Suite">
			<directory>./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<exclude>
				<file>./includes/ServiceWiring.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
